/*  הגדרות עיצוב שמשפיעות על כל עמוד המקושר לעמוד הראשי */

/*  העיצוב הכללי של כל דף */
body {
    font-family: 'segoe UI';
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
    margin: 0;
    padding: 0;
    background-position: -50px center;
    direction: rtl;
}

/* עיצוב כותרת עליונה */
header {
    background-color: #3b6ea1;
    color: white;
    font-size: 20px;
    font-family: 'segoe UI';
    padding: 15px 0; /* padding מלמעלה ומלמטה */
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* הוספת צל */
    letter-spacing: 1px;
}

/* הגדרת הגריד לכל קוביה */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    margin-top: 20px;
}

/* עיצוב קוביה */
.box {
    background-color: #ffffff;
    border: 2px solid #ddd;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'segoe UI';
    color: #333;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* צל להבלטה */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05); /* הגדלת הקוביה במעט בזמן ריחוף */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* הצל הופך ליותר חזק */
    background-color: #ffffff;
}

/* עיצוב התמונות */
.box-image {
    max-width: 100%;
    max-height: 160px;
    object-fit: contain;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* עיצוב כפתור חזרה */
.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #2e5b8a;
    color: white;
    border: none;
    font-family: 'Segoe UI';
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #4b80c3;
}
