/* עיצוב כללי */
body {
    font-family: 'Segoe UI';
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
    background-position: -50px center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #2d3748;
    direction: rtl;
}

/* מכולה */
.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff1c2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* כותרות בתוך השאלות */
h1 {
    font-size: 2rem;
    color: #000000;
}

/* שאלה - עיצוב תבנית */
#question {
    font-size: 1.5rem;
    color: #fff1c2;
    margin-bottom: 30px;
}

/* עיצוב כפתורים */
button {
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ebeb7e;
}

button:focus {
    outline: none;
}

/* כפתור "אדם אמיתי" - צבע ירוק */
.button-1 {
    background-color: #28a745;
}

.button-1:hover {
    background-color: #218838;
}

/* כפתור "תמונה מזויפת" - צבע אדום */
.button-2 {
    background-color: #dc3545;
}

.button-2:hover {
    background-color: #c82333;
}

/* תוצאה */
.hidden {
    display: none;
}

/* התאמה לגודל מסך */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    button {
        font-size: 1rem;
    }

    #question {
        font-size: 1.2rem;
    }
}

/* עיצוב לתמונה */
.game-container {
    padding: 20px;
    text-align: center;
}

.game-image {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto 0 auto;
}
