.home {
  text-align: center;
  padding: 20px;
}

.headline {
  font-size: 2em;
  margin-bottom: 20px;
  color: #53474F;
}

.appLink {
  margin-right: 4rem;
  /* Adds space to the right of each link */
}

.logoutButton {
  margin-left: 1rem;
  /* Adds extra space before the logout button */
}