/* עיצוב בסיסי לדף */
body {
    font-family: Arial, sans-serif;
    background-color: #ebbfbf; /*  הרקע של האתר עצמו */
    margin: 0;
    padding: 0;
    direction: rtl;
}

/*  עיצוב הכותרת הראשית ותת הכותרת */
header {
    background-color: #9b5155; /*הרקע שמאחורי הכותרת הראשית*/
    font-size: 18px;
    font-family: 'Gan CLM';
    color: white; /*הצבע של הכותרת הראשית*/
    padding: 10px;
    text-align: center;
}

/* הגדרת מכולה לתיבות */
.charities-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 
    padding: 20px;
}

/* עיצוב בסיסי לתיבה */
.charity {
    background-color: #ffffff; /*הצבע של התיבה */
    border: 1px solid #ffffff; /*הגבול של התיבה */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-family: 'Calibri'; 
    flex: 1 1 calc(25% - 20px); /* כל תיבה תתפוס אחוז מסויים מרוחב השורה */
    box-sizing: border-box; 
    max-width: 350px; /* הרוחב שהגדרתי לתיבה*/
    transition: transform 0.3s, background-color 0.3s;
}

/* אפקט רחף לתיבה */
.charity:hover {
    transform: scale(1.05);
    background-color: #a77476; /*הגוון החדש של התיבה כשהלחצן נוגע בה */
}

button {
    background-color: #9b5155; /* צבע הכפתור */
    color: #ffffff; /* צבע הטקסט של הכפתור   */
    font-family: 'David Libre';
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer; /* סמן העכבר הופך ליד */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d7c6c7; /* הצבע החדש של הכפתור כשהלחצן נוגע בו*/
}

