/* עיצוב בסיסי לדף */
body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
    background-position: -50px center;
    background-size: cover;
    line-height: 1.6;
    color: #2d3748;
    direction: rtl;
}

/* עיצוב הכותרת הראשית ותת הכותרת */
header {
    background-color: #5d8cc9; /*הרקע שמאחורי הכותרת הראשית*/
    color: white;
    font-size: 18px;
    font-family: 'segoe UI';
    padding: 10px;
    text-align: center;
}

/* הגדרת מכולה לתיבות */
.charities-list {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 20px;
}

/* עיצוב בסיסי לתיבה */
.charity {
    background-color: #eff3fa;
    border: 2px solid #4074b8;
    padding: 20px; 
    border-radius: 1.5rem;
    text-align: center;
    font-family: 'Segoe UI'; 
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* אפקט רחף לתיבה */
.charity:hover {
    background-color: #a0b7df;
    transform: scale(1.05);
}

/* עיצוב הכפתורים */
button {
    background-color: #5d8cc9;
    color: white;
    font-family: 'Segoe UI';
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2c5282;
}

.back-button {
    position: absolute; /* כפתור קבוע */
    top: 10px; /* מרחק מראש העמוד */
    right: 10px; /* מרחק מצד ימין */
    background-color: #4074b8; /* צבע רקע */
    color: white; /* צבע טקסט */
    border: none; /* בלי גבול */
    padding: 10px 15px; /* ריווח פנימי */
    border-radius: 5px; /* עיגול פינות */
    font-size: 16px; /* גודל טקסט */
    cursor: pointer; /* סמן של כפתור */
    z-index: 1000; /* כדי להיות מעל כל האלמנטים */
}


