/* עיצוב בסיסי לדף */
body {
    font-family: 'segoe UI';
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
    margin: 0;
    padding: 0;
    background-position: -50px center;
    direction: rtl;
}

/*  עיצוב הכותרת הראשית ותת הכותרת */
header {
    background-color: #5d8cc9; /*הרקע שמאחורי הכותרת הראשית*/
    color: white;
    font-size: 18px;
    font-family: 'segoe UI';
    padding: 10px;
    text-align: center;
}

/* הגדרת מכולה לתיבות */
.cases-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 
    padding: 20px;
}

/* עיצוב בסיסי לתיבה */
.case {
    background-color: #eff3fa; /*הצבע של התיבה */
    border: 2px solid #4074b8; /*הגבול של התיבה */
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-family: 'segoe UI';
    flex: 1 1 calc(30% - 20px); /* כל תיבה תתפוס אחוז מסויים מרוחב השורה */
    box-sizing: border-box; 
    transition: transform 0.3s, background-color 0.3s;
}

/* אפקט רחף לתיבה */
.case:hover {
    transform: scale(1.05);
    background-color: #a0b7df; /*הגוון החדש של התיבה כשהלחצן נוגע בה */
}

button {
    background-color: #4074b8; /* צבע הכפתור */
    color: #ffffff; /* צבע הטקסט של הכפתור   */
    font-family: 'segoe UI';
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer; /* סמן העכבר הופך ליד */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2c5282; /* הצבע החדש של הכפתור כשהלחצן נוגע בו*/
}

.back-button {
    position: absolute; /* כפתור קבוע */
    top: 10px; /* מרחק מראש העמוד */
    right: 10px; /* מרחק מצד ימין */
    background-color: #dc3545; /* צבע רקע */
    color: white; /* צבע טקסט */
    border: none; /* בלי גבול */
    padding: 10px 15px; /* ריווח פנימי */
    border-radius: 20px; /* עיגול פינות */
    font-size: 16px; /* גודל טקסט */
    cursor: pointer; /* סמן של כפתור */
    z-index: 1000; /* כדי להיות מעל כל האלמנטים */
}

.back-button:hover {
    background-color: #ce182a; /* צבע רקע כשיש ריחוף */
  }
