/* עיצוב כללי */
body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
    background-position: -50px center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #2d3748;
    direction: rtl;
}

/* מכולה */
.container {
    width: 90%;
    max-width: 800px;
    background-color: #eff3fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* כותרות בתוך השאלות */
h1 {
    font-size: 2rem;
    color: #5d8cc9;
}

/* שאלה - עיצוב תבנית */
#question {
    font-size: 1.5rem;
    color: #5d8cc9;
    margin-bottom: 30px;
}

/* עיצוב כפתורים */
button {
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: #5d8cc9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c5282;
}

button:focus {
    outline: none;
}

/* תוצאה */
.hidden {
    display: none;
}

/* התאמה לגודל מסך */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    button {
        font-size: 1rem;
    }

    #question {
        font-size: 1.2rem;
    }
}

/* עיצוב לתמונה */
.game-container {
    padding: 20px;
    text-align: center;
}

.game-image {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto 0 auto;
}

.back-button {
    position: absolute; /* כפתור קבוע */
    top: 10px; /* מרחק מראש העמוד */
    right: 10px; /* מרחק מצד ימין */
    background-color: #dc3545; /* צבע רקע */
    color: white; /* צבע טקסט */
    border: none; /* בלי גבול */
    padding: 10px 15px; /* ריווח פנימי */
    border-radius: 20px; /* עיגול פינות */
    font-size: 16px; /* גודל טקסט */
    cursor: pointer; /* סמן של כפתור */
    z-index: 1000; /* כדי להיות מעל כל האלמנטים */
}

.back-button:hover {
    background-color: #ce182a; /* צבע רקע כשיש ריחוף */
  }


