/*  הגדרות עיצוב שמשפיעות על כל עמוד המקושר לעמוד הראשי*/

/*  העיצוב הכללי של כל דף */
body {
    font-family: 'segoe UI';
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
    margin: 0;
    padding: 0;
    background-position: -50px center;
    direction: rtl;
}

/* עיצוב כותרת עליונה */
header {
    background-color: #5d8cc9; 
    color: white;
    font-size: 35px;
    font-family: 'segoe UI';
    padding: 10px 0; /* padding מלמעלה ומלמטה */
    text-align: center;
    font-weight: bold;
    line-height: 50px;

}

/* הגדרת הגריד לקוביות */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    
}

/* עיצוב הקוביות */
.box {
    background-color: #eff3fa;
    border: 2px solid #4074b8;
    padding: 85px;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'segoe UI';
    cursor: pointer;
    text-decoration: none;
    color: #5d8cc9;
    font-size: 30px /*גודל הפונט שבתוך הקוביות*/
    
    
}

.box:hover {
    background-color: #a0b7df;
}
