header {
    background-color: #ADD8E6; /* Light blue background for the header */
    padding: 20px 0;
    position: sticky; /* Makes the header stick to the top */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensures the header stays on top of other elements */
}

header h1 {
    color: white; /* Text color */
    margin: 0;
    text-align: center;
}

main{
    background-color:#d7ecef
}

body {
    background-color: #d7ecef;
}
main h2:first-of-type {
    background-color: #ADD8E6; /* Light blue background for the first h2 */
    padding: 40px;
    position: sticky; /* Makes the first h2 sticky */
    top: 60px; /* Adjust this to account for the height of the header */
    z-index: 999; /* Ensures the first h2 stays on top of other content */
    color: white;
    margin: 0;
    text-align: center;
}


.question-container {
    margin-bottom: 20px;
    text-align: center; /* Center the text */
}

.question-button {
    margin: 15px 0; /* Adjust the margin for spacing between buttons */
    padding: 15px 20px; /* Add padding for a more spacious button */
    background-color:#83c8df; /* Bright blue color */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 12px; /* Rounded corners */
    font-size: 16px; /* Slightly bigger font for better visibility */
    width: 100%; /* Full width for the button */
    max-width: 500px; /* Max width to avoid overly stretched buttons */
    margin-left: auto;
    margin-right: auto;
}

.question-button:hover {
    background-color: #b2e1f0; /* Slightly darker shade of blue on hover */
}

.answer {
    display: none;
    margin-top: 10px;
    font-style: ariel;
    font-size: 20px; /* Optional, adjust the font size for answers */
    max-width: 800px; /* Set the max width to control the length of the lines */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    line-height: 1.5; /* Optional: Adjust line height for better readability */
    word-wrap: break-word;
    color: #2e5691; /* Optional, adjust the answer text color */
}

footer {
    background-color: rgb(2, 2, 100); /* Set the background color to red */
    padding: 10px 0; /* Add some padding to the footer */
    text-align: center; /* Center the link inside the footer */
    border-radius: 30px; /* Curve the edges of the footer */
    max-width: 600px; /* Set a maximum width for the footer */
    margin: 20px auto;
}

footer a {
    text-decoration: none; /* Remove the underline */
    color: white; /* Set the text color to white */
    font-size: 16px; /* Adjust the font size (optional) */
    transition: color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}

footer a:hover {
    color: rgb(227, 160, 115); /* Change text color on hover */
    transform: scale(1.1); /* Slightly enlarge the link on hover */
}