/* עיצוב כללי */
body {
    font-family: 'Gan CLM', sans-serif;
    background-color: #ebbfbf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    direction: rtl;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* כותרות בתוך השאלות */
h1 {
    font-size: 2rem;
    color: #9b5155;
}

/* שאלה - עיצוב תבנית*/
#question {
    font-size: 1.5rem;
    color: #9b5155;
    margin-bottom: 20px;
}

/* עיצוב הכפתורים */
button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: #9b5155;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b37174;
}

button:focus {
    outline: none;
}

/* תוצאה */
.hidden {
    display: none;
}

/* התאמה לגודל המסך כדי שלא יגלוש  */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    button {
        font-size: 1rem;
    }

    #question {
        font-size: 1.2rem;
    }
}

/* עיצוב לתמונה */
.game-container {
    padding: 20px;
    text-align: center;
}

.game-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto 0 auto; /* מיקום התמונה מתחת לטקסט*/
}
