/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5d8cc9;
  backdrop-filter: blur(12px);
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  animation: fadeIn 0.5s ease-out;
}

.appLogo {
  height: 60px;
  width: 60px;
  border-radius: 40px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  /* color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 6px;
  margin: 10px;
  background-color: #dc3545;
  border-radius: 5px; */
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  text-decoration: none;
}

.appLink:hover {
  text-decoration: none;
  background-color: #d81f31;
}

/* General Main Styles */
.main {
  position: relative;
  overflow-y: auto;
  background-image: url('https://as1.ftcdn.net/v2/jpg/04/18/87/48/1000_F_418874896_qSfcISJhMoGUuZLIy5H4snGdh2hHAH4r.jpg');
}

/* Styles for the homepage */
.homePageMain {
  padding: 0;
  margin: 0;
  height: 100vh;
  /* Ensure it takes up full viewport height */
  background-color: #ffffff;
  /* Adjust as needed */
}

/* Styles for non-homepage pages */
.nonHomePageMain {
  /* padding: 20px; */
  background-color: #f8f9fa;
  height: calc(100vh - 160px);
  /* Adjust height to account for header and footer */
}

.footer {
  padding: 1rem;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  z-index: 100;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footerContent p {
  color: #94c4f1;
}

.logoutButton {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.logoutButton:hover {
  background-color: #c82333;
}

.logoutButton:active {
  background-color: #bd2130;
}

.portalButton {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  margin-right: 1rem;
  border: none;
}

.portalButton:hover {
  background-color: #45a049;
}

.portalButton:active {
  background-color: #3d8b40;
}